@model Inmobiliaria_Zarate_DoNet.Models.TipoInmueble
<h2>Nuevo Tipo de Inmueble</h2>
<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control"/>
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="form-check mb-3">
        <input asp-for="Activo" class="form-check-input"/>
        <label asp-for="Activo" class="form-check-label"></label>
    </div>
    <button class="btn btn-primary">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</form>
