@model IEnumerable<Inmobiliaria_Zarate_DoNet.Models.Inmueble>
<h3>Inmuebles disponibles</h3>

@if (!Model.Any())
{
    <div class="alert alert-info">No hay inmuebles disponibles.</div>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Dirección</th>
                <th>Uso</th>
                <th>Amb.</th>
                <th>Precio base</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>@i.Direccion</td>
                <td>@i.Uso</td>
                <td>@i.Ambientes</td>
                <td>@i.PrecioBase.ToString("C")</td>
            </tr>
        }
        </tbody>
    </table>
}
